.checkbox {
  float: left;
  width: 13%; }

.checkbox input[type='checkbox'] {
  opacity: 0; }

.checkbox label {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  font-size: 0.8rem;
  font-weight: 400; }

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: '';
  display: inline-block; }

.checkbox label::before {
  height: 25px;
  width: 25px;
  border: 1px solid #e5e5e5;
  left: 0px;
  top: 3px;
  border-radius: 5px; }

.checkbox label::after {
  height: 6px;
  width: 11px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  left: 7px;
  top: 10px; }

.checkbox input[type='checkbox'] + label::after {
  content: none; }

.checkbox input[type='checkbox']:checked + label::after {
  content: ''; }

.checkbox input[type='checkbox']:focus + label::before {
  border: 1px solid #1ABC9C; }

.checkbox input[type='checkbox']:hover + label::before {
  border: 1px solid #1ABC9C; }
